## Self Practice Case Study: PCA, tSNE for dimensionality reduction

- In the LVC, we worked on using PCA and tSNE to visualise the digits dataset in 2D. We created embeddings using PCA and tSNE and these embeddings were plotted using the scatter plot.


- In this case study we will work with two different datasets and use PCA and tSNE, not for visualisation by reducing dimensions, but for **reducing the dimensions in case where the original data has a lot of dimensions and then use transformed features for classification**. We will try to understand the variance explained through principal components and use tsne.


- Note: We will later (in the next week) use these embeddings to carry out a classification exercise. 

## Data

#### HR Attrition Analysis
In this dataset, we have employees as data points and different features for them. We have 'Attrition' as the target column. The data dictionary is provided separately.

#### Digits dataset
This is the dataset that comes with sklearn. We are using sklearn.datasets.load_digits to load the dataset. 
The data is stoed as a numpy array. Each row represents one image where each image has 64 features(8*8 image where the pixel values have been flattened into a vector).

Let us start by importing some basic packages.

## Accessing data and preprocessing

In [ ]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

Let us load the HR attrition dataset now.

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving HR_Employee_Attrition_Dataset.xlsx to HR_Employee_Attrition_Dataset.xlsx

In [ ]:
import io
df = pd.read_excel(io.BytesIO(uploaded['HR_Employee_Attrition_Dataset.xlsx']))

In [ ]:
# displaying the first 3 rows
df.head(3)

   EmployeeNumber Attrition  ...  YearsSinceLastPromotion YearsWithCurrManager
0               1       Yes  ...                        0                    5
1               2        No  ...                        1                    7
2               3       Yes  ...                        0                    0

[3 rows x 34 columns]

In [ ]:
# set the EmployeeNumber as the index
df = df.set_index('EmployeeNumber')
df.columns

Index(['Attrition', 'Age', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField',
       'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement',
       'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'Over18',
       'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [ ]:
# Having looked at the data, we realise that there are some cateogorical variables that are nominal. We should encode these variables.
# The modelling algorithms require data in numerical form and thus we need to convert categories to numbers by encoding.

to_get_dummies_for = ['BusinessTravel', 'Department','Education', 'EducationField','EnvironmentSatisfaction', 'Gender',  'JobInvolvement','JobLevel', 'JobRole', 'MaritalStatus' ]

df = pd.get_dummies(data = df, columns= to_get_dummies_for, drop_first= True)

In [ ]:
df.shape

(2940, 57)

We have encoded the dimensions and now the no of features are 57.
Let us now treat the other variables.

In [ ]:
df.head(3)

               Attrition  Age  ...  MaritalStatus_Married  MaritalStatus_Single
EmployeeNumber                 ...
1                    Yes   41  ...                      0                     1
2                     No   49  ...                      1                     0
3                    Yes   37  ...                      0                     1

[3 rows x 57 columns]

In [ ]:
dict_over18 = {'Y': 1, 'N':0}
dict_OverTime = {'Yes': 1, 'No':0}
dict_attrition = {'Yes': 1, 'No': 0}

df['OverTime'] = df.OverTime.map(dict_OverTime)
df['Over18'] = df.Over18.map(dict_over18)
df['Attrition'] = df.Attrition.map(dict_attrition)

Y_HR = df.Attrition
X_HR = df.drop(columns = ['Attrition'])

In [ ]:
df.head(3)

                Attrition  Age  ...  MaritalStatus_Married  MaritalStatus_Single
EmployeeNumber                  ...
1                       1   41  ...                      0                     1
2                       0   49  ...                      1                     0
3                       1   37  ...                      0                     1

[3 rows x 57 columns]

In [ ]:
df.describe().T

                                    count          mean  ...      75%      max
Attrition                          2940.0      0.161224  ...      0.0      1.0
Age                                2940.0     36.923810  ...     43.0     60.0
DailyRate                          2940.0    802.485714  ...   1157.0   1499.0
DistanceFromHome                   2940.0      9.192517  ...     14.0     29.0
HourlyRate                         2940.0     65.891156  ...     84.0    100.0
JobSatisfaction                    2940.0      2.728571  ...      4.0      4.0
MonthlyIncome                      2940.0   6502.931293  ...   8380.0  19999.0
MonthlyRate                        2940.0  14313.103401  ...  20462.0  26999.0
NumCompaniesWorked                 2940.0      2.693197  ...      4.0      9.0
Over18                             2940.0      1.000000  ...      1.0      1.0
OverTime                           2940.0      0.282993  ...      1.0      1.0
PercentSalaryHike                  2940.0     15.209524  ...     18.0     25.0
PerformanceRating                  2940.0      3.153741  ...      3.0      4.0
RelationshipSatisfaction           2940.0      2.712245  ...      4.0      4.0
StandardHours                      2940.0     80.000000  ...     80.0     80.0
StockOptionLevel                   2940.0      0.793878  ...      1.0      3.0
TotalWorkingYears                  2940.0     11.279592  ...     15.0     40.0
TrainingTimesLastYear              2940.0      2.799320  ...      3.0      6.0
WorkLifeBalance                    2940.0      2.761224  ...      3.0      4.0
YearsAtCompany                     2940.0      7.008163  ...      9.0     40.0
YearsInCurrentRole                 2940.0      4.229252  ...      7.0     18.0
YearsSinceLastPromotion            2940.0      2.187755  ...      3.0     15.0
YearsWithCurrManager               2940.0      4.123129  ...      7.0     17.0
BusinessTravel_Travel_Frequently   2940.0      0.188435  ...      0.0      1.0
BusinessTravel_Travel_Rarely       2940.0      0.709524  ...      1.0      1.0
Department_Research & Development  2940.0      0.653741  ...      1.0      1.0
Department_Sales                   2940.0      0.303401  ...      1.0      1.0
Education_2                        2940.0      0.191837  ...      0.0      1.0
Education_3                        2940.0      0.389116  ...      1.0      1.0
Education_4                        2940.0      0.270748  ...      1.0      1.0
Education_5                        2940.0      0.032653  ...      0.0      1.0
EducationField_Life Sciences       2940.0      0.412245  ...      1.0      1.0
EducationField_Marketing           2940.0      0.108163  ...      0.0      1.0
EducationField_Medical             2940.0      0.315646  ...      1.0      1.0
EducationField_Other               2940.0      0.055782  ...      0.0      1.0
EducationField_Technical Degree    2940.0      0.089796  ...      0.0      1.0
EnvironmentSatisfaction_2          2940.0      0.195238  ...      0.0      1.0
EnvironmentSatisfaction_3          2940.0      0.308163  ...      1.0      1.0
EnvironmentSatisfaction_4          2940.0      0.303401  ...      1.0      1.0
Gender_Male                        2940.0      0.600000  ...      1.0      1.0
JobInvolvement_2                   2940.0      0.255102  ...      1.0      1.0
JobInvolvement_3                   2940.0      0.590476  ...      1.0      1.0
JobInvolvement_4                   2940.0      0.097959  ...      0.0      1.0
JobLevel_2                         2940.0      0.363265  ...      1.0      1.0
JobLevel_3                         2940.0      0.148299  ...      0.0      1.0
JobLevel_4                         2940.0      0.072109  ...      0.0      1.0
JobLevel_5                         2940.0      0.046939  ...      0.0      1.0
JobRole_Human Resources            2940.0      0.035374  ...      0.0      1.0
JobRole_Laboratory Technician      2940.0      0.176190  ...      0.0      1.0
JobRole_Manager                    2940.0      0.069388  ...      0.0      1.0
JobRole_Manufacturing Director     2940.0      0.098639  ...      0.0      1.0
JobRole_Research Director          2940.0      0.054422  ...      0.0      1.0
JobRole_Research Scientist         2940.0      0.198639  ...      0.0      1.0
JobRole_Sales Executive            2940.0      0.221769  ...      0.0      1.0
JobRole_Sales Representative       2940.0      0.056463  ...      0.0      1.0
MaritalStatus_Married              2940.0      0.457823  ...      1.0      1.0
MaritalStatus_Single               2940.0      0.319728  ...      1.0      1.0

[57 rows x 8 columns]

Now that we have treated the categorical columns, let us now look at the shape of the data.

In [ ]:
df.shape

(2940, 57)

So, we have 57 different features. Let us now try to reduce the dimensions.
First lets start with PCA.

## PCA: HR Attrition

In [ ]:
X_HR.head(3)

                Age  DailyRate  ...  MaritalStatus_Married  MaritalStatus_Single
EmployeeNumber                  ...
1                41       1102  ...                      0                     1
2                49        279  ...                      1                     0
3                37       1373  ...                      0                     1

[3 rows x 56 columns]

In [ ]:
# let us get the data to the same scale first
from sklearn.preprocessing import MinMaxScaler

mms = MinMaxScaler()
X_HR_scaled = mms.fit_transform(X_HR)

In [ ]:
# Now that we have scaled the data, let us now go ahead and fit the PCA. Let us try to achieve 95% variance explained with the least number of principal components possible.

from sklearn.decomposition import PCA

So, before jumping in to generate the PCA embeddings, let us understand how to figure out the optimum number of prinipal components.

In [ ]:
# To figure out the number of components that explain more than 95% of variance, let us first generate PCs for the original number of dimensions.
n = X_HR.shape[1]
pca = PCA(n_components = n)
pca.fit(X_HR_scaled)

# let us now find variance explained by all these principal components.

exp_var_HR = pca.explained_variance_ratio_

In [ ]:
# find the least number of components that can explain more than 95% variance
sum = 0
for ix, i in enumerate(exp_var_HR):
  sum = sum + i
  if(sum>0.95):
    print("Number of PCs that explain at least 95% variance: ", ix+1)
    break

Number of PCs that explain at least 95% variance:  36

### Comments
-  We see that out of the 56 original features, we reduced the number of features through principal components to 36, these components explain the 95% of the original variance.

- So that is about 36% reduction in the dimensionality with a loss of 5% in variance.

- Let us now look at these principal components.

In [ ]:
X_HR_transformed_pca = pca.transform(X_HR_scaled)[:, 0:36]
X_HR_transformed_pca.shape

(2940, 36)

In [ ]:
X_HR_transformed_pca

array([[ 1.31122257,  0.80949068, -0.48008978, ...,  0.41985676,
         0.25405038, -0.20750442],
       [-0.4787661 , -0.44882672,  0.44642704, ..., -0.12559866,
         0.232826  ,  0.15420296],
       [-0.68466273,  0.74778442,  0.94197334, ...,  0.02329229,
         0.12641541,  0.22286996],
       ...,
       [-0.3890975 , -0.6046511 ,  0.10290065, ..., -0.08852991,
        -0.09914871, -0.33291044],
       [ 1.13259716, -0.24280923,  0.94187371, ...,  0.25862045,
         0.20479414, -0.05048027],
       [-0.50756099, -0.67427016,  0.55213963, ..., -0.35079405,
        -0.19035914, -0.10034733]])

## tSNE: HR Attrition

Let us now generate 3 dimensions tSNE embeddings which we will further use for classification.

In [ ]:
from sklearn.manifold import TSNE

tsne = TSNE(n_components = 3)

X_HR_transformed_tsne = tsne.fit_transform(X_HR_scaled)

In [ ]:
X_HR_transformed_tsne.shape

(2940, 3)

### Comments
- We have generated the 2D embeddings for the data. We have seen in the LVC that the 2d emebeddings of tSNE captured the data nicely(better than PCA with 2 componenets). If the embeddings(tSNE) here, capture the original data in 2d better then the PCA with over 36 features, we can expect it to work better on a classification task. We will check this later in the classification week.